<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Fake Twitter</title>
    <link rel="stylesheet" type="text/css" href="/css/styles.css" />
</head>

<body>
    <section>
        <div class="form-container">
            <h1>Welcome</h1>
            <form action="/createUser" method="POST">
                <div class="control">
                    <input type="text" name="username" id="username" placeholder="Username" size="25"
                        title="Username must be 3 - 15 characters long">
                </div>
                <div class="control">
                    <input type="password" name="password" id="password" placeholder="Password" size="25"
                        title="Password must be 5 - 15 characters long">
                </div>
                <div class="control">
                    <input type="submit" value="Sign up">
                </div>
            </form>
            <p id="footer">If you already have an account, please <a href="/loginpage">Login</a></p>
        </div>
        <%- include('../partials/footer') %>
    </section>

</body>

</html>